<ion-header>
    <ion-navbar>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>Cert Printing QR Code</h2>
    <p>
        Version 1
    </p>
    <div style="padding: 15px">
        <button ion-button (click)="ScanCertQR()">Scan Event QR Code 1</button>
    </div>

   <div style="padding: 15px">
        <button ion-button (click)="ScanCertQR1()">POST DEMO</button>
    </div>


</ion-content>